* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
  background-color: #f3f3f3;
}

a, a:link, a:visited {
  color: rgba(0, 0, 0, 0.804);
  text-decoration: none;
}

.linebreak {
  width: 100%;
  height: 0.1vh;
  background-color: rgba(0, 0, 0, 0.101);
  margin: 5rem 0rem;
}

div.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.418);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 2;
  cursor: pointer;
}

.modalwindow {
  z-index: 5;
  width: 38%;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 3.8rem 0rem;
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.818);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.657);
}
.modalwindow p.heading {
  font-size: 2rem;
  font-weight: 600;
}
.modalwindow p.heading span.paralelogram {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  transform: scale(1.07, 1.09) skewX(-15deg);
  position: relative;
  display: inline-block;
  padding: 0 0.5rem;
  opacity: 0.8;
}
.modalwindow p.heading span.paralelogram span.normal-text {
  display: inline-block;
  transform: skewX(15deg);
}
.modalwindow form {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.modalwindow form div.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modalwindow form div.row label, .modalwindow form div.row input {
  font-size: 1.05rem;
  font-weight: 600;
}
.modalwindow form div.row input {
  padding: 0.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.19);
}
.modalwindow form button {
  align-self: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  outline: 0;
  background-color: #5ec576;
  text-align: center;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}
.header__logo {
  width: 40%;
}
.header__logo img {
  width: 25%;
  transition: opacity 1s;
}
.header__menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
}
.header__menu a {
  transition: opacity 0.5s;
}
.header__menu button {
  border: none;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  background-color: #5ec576;
  transition: opacity 0.5s;
  font-size: 1.04rem;
  cursor: pointer;
}
.header__menu button:hover {
  background-color: #37b254;
  transition: opacity 1s;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.main__section {
  width: 100%;
}
.main__section .headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}
.main__section .headline p.heading {
  color: #5ec576;
  font-size: 1.2rem;
  align-self: flex-start;
}
.main__section .headline p.line {
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.695);
}
.main__section .circle {
  background-color: rgb(209, 233, 215);
  border-radius: 50%;
  width: 3.9vw;
  height: 8.5vh;
}
.main__section--first {
  height: 80vh;
  margin-top: 2.5rem;
  display: flex;
  align-items: start;
  width: 75%;
}
.main__section--first__info {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
}
.main__section--first__info__slogan {
  font-size: 3.4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.74);
  line-height: 4.5rem;
}
.main__section--first__info__slogan .paralelogram {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  transform: scale(1.07, 1.09) skewX(-15deg);
  position: relative;
  display: inline-block;
  padding: 0 0.5rem;
  opacity: 0.8;
}
.main__section--first__info__slogan .paralelogram p {
  transform: skewX(15deg);
}
.main__section--first__info__slogan .paralelogram--first {
  z-index: -1;
}
.main__section--first__info__slogan .paralelogram--second {
  z-index: -5;
}
.main__section--first__info__line {
  font-size: 1.5rem;
  font-weight: 400;
}
.main__section--first__info__link {
  width: -moz-fit-content;
  width: fit-content;
}
.main__section--first__info__link a {
  color: #5ec576;
}
.main__section--first__info__link div.underline {
  height: 0.1vw;
  background-color: #5ec576;
}
.main__section--first__photos {
  width: 40%;
}
.main__section--first__photos img {
  width: 100%;
}
.main__section--second {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__section--second .container {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}
.main__section--second .container .overview {
  align-self: center;
  width: 35%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__section--second .container .overview .heading {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.74);
}
.main__section--second .container .overview .content {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.74);
  line-height: 1.8rem;
}
.main__section--second .container .overview-image {
  width: 40%;
}
.main__section--second .container .overview-image img {
  width: 100%;
}
.main__section--second .container--second {
  align-self: flex-start;
}
.main__section--second .container--third {
  align-self: flex-end;
}
.main__section--second .container--fourth {
  align-self: flex-start;
}
.main__section--third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
}
.main__section--third button {
  font-size: 1rem;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  height: 6vh;
  padding: 0.8rem 2.5rem;
  color: rgba(0, 0, 0, 0.801);
  border: none;
  outline: none;
  cursor: pointer;
}
.main__section--third button.transfer {
  background-color: #ffcb03;
}
.main__section--third button.transfer:hover {
  background-color: #ffbb00;
}
.main__section--third button.loan {
  background-color: #5ec576;
}
.main__section--third button.loan:hover {
  background-color: #4bbb7d;
}
.main__section--third button.close {
  background-color: #ff585f;
}
.main__section--third button.close:hover {
  background-color: #fd424b;
}
.main__section--third .buttons {
  position: absolute;
  top: -15px;
}
.main__section--third .banner {
  display: flex;
  background-color: white;
  width: 65%;
  padding: 4rem;
  position: relative;
  justify-content: space-around;
}
.main__section--third .banner .circle {
  width: 8%;
  height: 10vh;
  background-color: rgba(255, 88, 96, 0.1764705882);
}
.main__section--third .banner .information {
  width: 80%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.668);
  line-height: 2rem;
}
.main__section--third .banner .information .heading {
  font-size: 1.3rem;
  font-weight: 500;
}
.main__section--fourth {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
.main__section--fourth .headine {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__section--fourth .reviews-section {
  width: 75%;
  height: 80%;
  position: relative;
  overflow: hidden;
}
.main__section--fourth .reviews-section .arrow {
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
}
.main__section--fourth .reviews-section #arrow--left {
  left: 0%;
}
.main__section--fourth .reviews-section #arrow--right {
  right: 0%;
}
.main__section--fourth .reviews-section .buttons {
  width: 10%;
  position: absolute;
  left: 50%;
  bottom: 0%;
  display: flex;
  justify-content: space-around;
}
.main__section--fourth .reviews-section .buttons button {
  border-radius: 50%;
  padding: 0.35rem;
  background-color: rgba(0, 0, 0, 0.167);
  outline: none;
  border: none;
  cursor: pointer;
}
.main__section--fourth .reviews-section .reviews {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
}
.main__section--fourth .reviews-section .reviews .review {
  padding: 0rem 7rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
}
.main__section--fourth .reviews-section .reviews .review p.heading {
  font-size: 1.3rem;
  font-weight: 500;
}
.main__section--fourth .reviews-section .reviews .review p.content {
  color: rgba(0, 0, 0, 0.521);
  line-height: 2rem;
}
.main__section--fourth .reviews-section .reviews .review img {
  border-radius: 50%;
  width: 30%;
  height: auto;
}
.main__section--fourth .reviews-section .reviews .review .users {
  display: flex;
  width: 35%;
  justify-content: space-evenly;
}
.main__section--fourth .reviews-section .reviews .review .users .userinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  align-self: center;
}
.main__section--fourth .reviews-section .reviews .review .users .userinfo p.name {
  font-size: 1.12rem;
  font-weight: 500;
}
.main__section--fourth .reviews-section .reviews .review .users .userinfo p.location {
  font-size: 1rem;
}

.footer {
  margin-top: 15%;
  height: 100vh;
  width: 100%;
  background-color: #37383d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__first {
  width: 55%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.footer__first p.line {
  font-size: 2.4rem;
  color: white;
  font-weight: 500;
}
.footer__first button {
  font-size: 1.2rem;
  border-radius: 70px;
  border: none;
  outline: none;
  padding: 1.5rem 2rem;
  background-color: #5ec576;
  cursor: pointer;
}
.footer .linebreak {
  background-color: rgba(255, 255, 255, 0.064);
  margin: 2rem;
}
.footer__second {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
  align-items: center;
  width: 60%;
}
.footer__second a {
  color: white;
}
.footer__second img {
  width: 5%;
}
.footer__second p.copyright {
  color: rgba(255, 255, 255, 0.395);
  font-size: 0.9rem;
}
.footer__second p.copyright a.name {
  color: white;
}
.footer__second div.links {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.544);
  position: sticky;
  z-index: 2;
  top: 0;
}

.blur {
  opacity: 40%;
}

.hide {
  display: none;
}

.btnOperationsUpwardEffect {
  transform: translateY(-8px);
  transition: transform 0.3s;
}

.btnsReviewSelected {
  background-color: rgba(0, 0, 0, 0.658) !important;
}

.lazy-image {
  filter: blur(1rem);
}

.loaded-image {
  filter: blur(0rem);
  transition: filter 0.7s;
}

.fade-in {
  opacity: 0;
}

.fade-visible {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section-visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}

.disableArrow {
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */